.add{
    width:70%;  
    margin-left:max(5vw, 25px);
    margin-top:50px;
    color:#6d6d6d;
    font-size:16px;
}
.add form{
    gap: 10px;
}

.add-img-upload img{
    width:120px;
}
.add-product-name, .add-product-description{
    width: max(48%, 280px);
}
.add-product-name input, .add-product-description textarea{
    width:100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline:none;
}
.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category select, .add-price input{
    max-width:120px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline:none;
    padding:10px;
}

.add-btn{
    cursor:poiter;
    background-color: black;
    color:white;
    max-width: 120px;
    padding: 10px;
    border:none;
}